---
import Section from "@/components/Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="About">
  <p class="text-[#666] line-height m-0 text-justify text-wrap p-2">{summary}</p>
</Section>