---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
import Typography from "../Typography";
---

<Section title="Skills">
  <ul class="inline-flex gap-2 flex-wrap justify-center p-3">
    {
      skills.map(({ name }) => (
        <li class="rounded-md bg-slate-500 text-white text-center w-auto h-6 px-3 items-center">
          {name}
        </li>
      ))
    }
  </ul>
</Section>